<?xml version="1.0"?>

<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
  </system.web>

  <appSettings>
    <!--Desarrollo-->
    <add key="strDB" value="qzuUlcN6nHMeaJIVMpF7xoiPR+mdF69nGwlpbnPqee7tsUQ9+4Twp+3F4Rq4u7xH40ngnpLD0eChSkZktqeKUbQM+il2nTbLgsod+QJa3A5/dvFGjyTTRSZvbtMddAjiD0j/N5P4+w/vgUx8c74XEQ=="/>
    <add key="strKey" value="WEB_CALCULO_V_00I_2016*+"/>
  </appSettings>

</configuration>